// Define your mixins and variables here, then add the following line to
// your other .scss files:
//
//     @import "base";
//
// (Yes, "base" and not "_base" - it is a SASS convention which means
// 'this file is a partial and should not be compiled by itself'

//$grey: #333333;
//$blue: #003fdb;

$grey: #5c5c5c;
$blue: #3365e2;

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}

	& {
	    *zoom: 1;
	}
}
