.dialog-wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
}

.dialog {
	margin: 0 auto;
	display: inline-block;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}