@import "base";

body {
	font-family: 'Varela Round', 'Arial', 'serif';
	font-size: 16px;
	color: #333;
	background: url(assets/grid2x.png);
	background-size: 200px 200px;
	margin: 0;
	min-width: 20em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
	margin: 0 0 0.4em 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

p {
	font-size: 0.8em;
	margin: 0 0 1em 0;
}

a {
	color: $blue;
	text-decoration: none;
}

.more-info {
	text-align: right;
	display: block;
}

#result {
  font-family: 'Varela Round', sans-serif;
  color: $blue;
  text-align: center;
  font-size: 3em;
  clear: both;
  
}

