@import "base";

footer {
	background-color: #FFFFFF;
	margin: 10px auto;
	padding: 1em 10em 1em 1em;
	//background: white url(assets/images/logo.jpg) no-repeat 1em 50%;
	background: white;
	background-size: auto 100%;
	@include clearfix;
}

.footer-logo {
	width: 14em;
	float: left;
	margin: 0 2em 0 0;
}

.footer-smallprint {
	color: #DBDBDB;
	font-size: 0.8em;
}