@import "base";

footer {
	background-color: #FFFFFF;
	margin: 0;
	padding: 1em;
	background: white;
	background-size: auto 100%;
	@include clearfix;

	p {
		font-size: 0.8em;
	}
}

.footer-smallprint {
	color: #DBDBDB;
	font-size: 0.8em;
}