#wrap {
	width: 60%;
	overflow: auto;
	margin: 10px auto;
}

.player {
	float: left;
	border-spacing: 0em;
	margin: 2em;
	text-align: center;
}

.opponent {
	float: right;
	border-spacing: 0em;
	margin: 2em;
	text-align: center;
}