.wrap {
	position: relative;
	max-width: 48em;
	margin: 0 auto 2em auto;
	padding: 4em 0 0 0;
	@include clearfix;
}

.player, .opponent {
	position: relative;
	width: 50%;
	float: left;
	text-align: center;

	h2 {
		position: absolute;
		top: -2em;
		width: 100%;
	}
}