@import "base";


#nav{

		position: static;
		left: 0.5em;
		top: 0.5em;
		width: 15em;
		height: 2em;
		padding: 0;
		background: url(assets/logo-small.svg) 0 50% no-repeat;
		background-size: 15em 2em;
		border: 1px solid #777777;
		background-color: #fefefe;


}
#rules {
	text-align: center;
	width: 100%;
	height: 25%;
	position:relative;

}

#rules ul{
	list-style-type: none;
}
#wrap {
width:60%;
overflow: auto;
margin:10px auto;


}

#main {
float: left;
border-spacing: 0em;
margin: 2em;
text-align: center;

}

#sidebar {
float: right;
border-spacing: 0em;
margin: 2em;
text-align: center;


}


button {
    border: 1px solid #777777;
    background: #6e9e2d;
    width: 20%;
    color: white;
    padding: 0.3em;
    cursor: pointer;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

.card {
	outline: 0.5em solid #000;
	border: 1em solid #FF2400;
	width: 240px;
	height: 336px;
	position: relative;
	background-color: #FF2400;
	
	
}

.cardFace {
	border: 0.2em solid #000;
	background-color: #FEFCFF;
	width: 235px;
	height: 330px;
	position: relative;
}
.nameField {
	width: 235px;
	height: 25px;
	border-bottom: 0.1em solid #000;
	text-align: center;
	line-height:2em;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 0.9em;
	
}

.descriptionField {
	width: 235px;
	height: 100px;
	bottom:0;
	position: absolute;
	text-align: center;
	vertical-align: center;
	overflow: auto;
	margin-bottom:5px;
	font-style: italic;
}

.picContainer {
	width: 120px;
	height: 120px;
	position: absolute;
	right: 55px;
	top: 35px;
}
.ulStats {
	list-style-type: none;
	position: absolute;
	border-top: 0.1em solid #000;
	border-bottom: 0.1em solid #000;
	width: 235px;
	height: 50px;
	bottom: 100px;
	text-align: center;
	margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.8em;
   

}

#footer{
	width: 100%;
	height: 20%;
	clear:both;
	background-color: #FFFFFF;
	margin:10px auto;
	overflow: auto;
}

#about {
	line-height:1.5;
	padding-left: 25em;
	padding-top: 2em;
	width: 50%;
}
#findoutmore {
	list-style-type: none;
	width: 50%;
	text-align: center;
	padding-left: 20em;
}
#findoutmore li {
	display: inline;
}

#artplogo {
	float: left;
	width: 200px;
	height: 200px;

}
