#nav{

		position: static;
		left: 0.5em;
		top: 0.5em;
		width: 15em;
		height: 2em;
		padding: 0;
		background: url(assets/images/logo-small.svg) 0 50% no-repeat;
		background-size: 15em 2em;
		border: 1px solid #777777;
		background-color: #fefefe;


}