
<!doctype html>
<html lang='en-GB'>
<head>
	<meta charset='utf-8'>
	<title>Science: Gamed</title>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

	{{>fonts}}
	{{>favicon}}
	{{>css}}
	{{>analytics}}
</head>

<body>

	
	<div class='header'>
		<div class='nav index-nav'>
			<ul>
				<li><a href='/'>home</a></li>
				<li><a href='/about.html'>about us</a></li>
				<li><a href='/blog/'>our blog</a></li>
				<li><a href='/science/'>science stuff</a></li>
			</ul>
		</div>

		<div class='logo-hero'>
			<h1>Science: Gamed</h1>
			<h2>we make games inspired by real science</h2>
		</div>
	</div>

	<div class='content'>
		<div class='main'>
			<div class='block promo box' id='monkey-panic'>
				<a class='centered' href='/monkey-panic.html'><img src='assets/monkey-panic/logo.svg'></a>
				
				<p>Can you help save the monkeys and spot the predator? Protect the primates in this exciting new mobile puzzle game. The game is built around real animal behaviour research. How do young monkeys learn to avoid snakes? What frightens a Chacma baboon? Find the answers and more in Monkey Panic!</p>

				<p>Become a Beta Baboon and be the first to help play test the game by signing up to our email list below!</p>

				<!-- Begin MailChimp Signup Form -->
				<div id='mc_embed_signup'>
					<form action='http://sciencegamed.us6.list-manage1.com/subscribe/post?u=5c8641edebf0aefe6be24b8f3&amp;id=8d236387e2' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate>
						<input type='email' value='' name='EMAIL' class='email' id='mce-EMAIL' placeholder='enter your email address' required>
						<input type='submit' value='Subscribe! &raquo;' name='subscribe' id='mc-embedded-subscribe' class='button'>
					</form>
				</div>
				<!--End mc_embed_signup-->

			</div>

			<div class='block'>

			</div>
		</div>


		<div class='aside'>
			<div class='block'>
				{{>aboutus}}
			</div>
		</div>
	</div>


	<div class='footer'>
		<p>Science: Gamed LLP registered no. OC371281. Website content and design copyright &copy; 2012</p>
	</div>
</body>
</html>